h4 {
	text-align: center
}

nav {
	padding: 25px;
	margin: 5px;
	border: solid black 1px;
	display: inline-block;
}

nav a {
	margin: 10px;
}

header {
	color: blue; 
	text-align: center; 
	font-size: 24px;
}

body {
	font-family: Times, Arial, sans-serif;
	padding-bottom: 20px;
	background-color: lightgrey;
}

table {
	width: 900px;
	padding-top: 20px;
}

th, td {
	padding: 10px;
}

th {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 90%;
	border-bottom: 2px solid black;
	border-top: 1px solid black;
	text-align: left;
}

.odd {
	background-color: lightblue;
}

footer {
	padding-top: 10px;
}