header {
	font-size: 35px;
	text-align: center;
	color: red;
	background-image: url("background img/American_Flag2");
	height: 100%;
}

header {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/American_Flag2.jpg?raw=true");
	background-size: 100%;
}

nav {
	padding: 25px;
	margin: 5px;
	border: solid black 1px;
	display: inline-block;
}

nav a {
	margin: 10px;
}

h1 {
  color: lightblue;
  text-shadow: 3px 3px 3px black;
  /*box-shadow: 3px 3px 3px black;*/
  border-width: 10px;
  margin-right: 80%;
}

h2 {
	color: black;
	font-style: bold; 
}

.copyright {
	text-align: center;
}

p {
	margin-right: 80%;
	color: black;
	
}

h4 {
	font-size: 20px;
	text-align: center;
	
}

.History-Project {
	background-color: none;
}

img {
max-width: 25%;
max-height: 25%;
}

.order {
	font-size: 30px;
	text-decoration: underline;
	font-style: italic;
	margin-left: 5%;
	color: red;
}


.George-Washington {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/A_Revolution.JPG?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.John-Adams {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Declaration_Independence.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Thomas-Jefferson {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Louisana_Purchase.png?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.James-Monroe {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Monroe_Trenton.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.James-Madison {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Bill_Rights.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.John-Quincy {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/JAdams_Stamp.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Andrew-Jackson {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Jackson_Treaty.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Martin-Buren {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Martin_Portrait.png?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%;
}

.John-Tyler {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Tyler_Portrait.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.James-Polk {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Mexico_American.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.William-Harrison {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Harrison-Poster.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.John-Tyler {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Tyler_Portrait.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Zachary-Taylor {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Zachary_Horse.JPG?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Millard-Fillmore {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Millard_Fillmore.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}


.Franklin-Pierce {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Pierce_Mexican.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.James-Buchanan {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Buchanan_Painting.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Abraham-Lincoln {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Battle_of_Antietam.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Andrew-Johnson {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Reconstruction_Voting.jpeg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.U-Grant {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Grant_Moments.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Rutherford {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Hayes_Railroad.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.James-Garfield {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Garfield_Arthur.png?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Chester-Arthur {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Arthur-Cabinet.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.GroverCleveland {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Cleveland_Tariff.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Benjamin-Harrison {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Benjamin_Ship.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}


.Grover-Cleveland {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Grover_McKinley.jpeg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.William-Mckinley {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Mckinley_Paris.JPG?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Theodore-Roosevelt {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Theodore_Hotel.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.William-Taft {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Taft_Inauguration.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Woodrow-Wilson {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Wilson_Four.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Warren-Harding {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Harding_Birmingham.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Calvin-Coolidge {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Coolidge_Cabinet.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}


.Herbert-Hoover {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Hoover_Family.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.FDR {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/FDR_Churchill.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Harry-Truman {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Truman_Churchill.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}


.Dwight-Eisenhower {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Eisenhower_Taiwan.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.John-Kennedy {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Kennedy_Cuba.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Lyndon-Johnson {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Lyndon_Civil.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}


.Richard-Nixon {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Nixon_Watergate.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Gerald-Ford {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Ford_Oath.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Jimmy-Carter {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Carter_Deng.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Ronald-Reagan {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Reagans_Waving.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.GeorgeHW-Bush {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Bush_Saudi.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.Bill-Clinton {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Clinton_Oath.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}

.GeorgeW-Bush {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Bush_Farwell.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}


.Barack-Obama {
	background-image: url("https://github.com/JamesonCoder/project/blob/master/background%20img/Castro_Obama.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 75%
}


